<!-- your html code here -->
<div class="jumbotron jumbotron-fluid">
  <div class="container w-50">
  <div class= "main-text ">
    <h1 class="heading "><strong>The First Heading</strong class="text-muted"> Will Catch Your Eye</h1>
    <p class="lead ">
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s <br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>an unknown printer took a galley of type and scrambled it to make</p>
    </div>
 
 
  <img src=./assets/img/1.jpg alt="" class="rounded-circle  float-right w-50 "/>
   </div>

</div>
